{
  "presets": [
    "env",
    "react",
    "stage-2"
  ],
  "plugins": [
    "transform-runtime",
    "syntax-dynamic-import"
  ],
  "env": {
		"local": {
			"plugins": ["react-hot-loader/babel"]
    },
    "test": {
			"plugins": [
				["istanbul", { "exclude": ["test/unit/**/*.js", "test/unit/**/*.jsx"] }]
			]
		}
	}
}