# Library folders
node_modules/

# Logs and Extra Files
*.log
*.rdb
src/server/public/
# Build directories
dist/

# Coverage
coverage/

# Reports
reports/

# Test cache
.nyc_output/

# Webstorm
.idea/

# Mac
.DS_Store

package-lock.json
yarn.lock
.vs/PostClosing.PMI.VendorServices/v15/.suo
.project
.vs/ProjectSettings.json
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
