@import './common/input';
@import './common/select';
@import './common/button';
@import './common/card';

/* Common Styles */
.layout {
  height: 100vh;
  padding: 5% 15%;
  background: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  .list {
    width: 80%;
    margin: 3% 0.1%;
    border-radius: .2rem;
    background-color: #e6e6e6;
  }
}